{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>Welcome to your custom dashboard!</h1>

    <p>This is the first page you see after logging into the backend. You can customize it by editing the <code>templates/admin/my_dashboard.html.twig</code> template.</p>

    <p>Learn more about customizing the backend in the <a href="https://symfony.com/doc/master/bundles/EasyAdminBundle/book/customization.html" target="_blank">documentation</a>.</p>
{% endblock main %}